div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  min-width: 650px;
  max-width: 720px;
  max-height: 330px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}