.buttonone{
  background-color: #FFFFFF;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
}

.buttonone:hover{
    background-color: #eee;
}

.thisone {
float:right;
margin-top:-35px;
display:inline;
width:35%;
}

