body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #FFFFFF;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  padding: 1px;
  text-align: center;
  border-bottom: 2px solid black;
  text-align: center;
}

thead button {
  width: 100%;
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  background-color: #FFFFFF;
}


tbody td {
  background-color: #FFFFFF;
  padding: 0.5em;
  border: 1px solid black;
  text-align: center;
}

tbody td:hover {
  background-color: #eee;
}

thead button:hover {
  background-color: #eee;
}

.sort-direction-asc::after{
   position: absolute;
   margin-left: -12px;
   margin-top: 7px;
   content: '▾';
 }

.sort-direction-desc::after{
  position: absolute;
  margin-left: -12px;
  margin-top: 7px;
  content: '▴';
 }

